In [1]:
import pandas as pd
def rstr(df): return df.shape, df.apply(lambda x: [x.unique()])
df = pd.read_csv("D:\codes\datasets\kaggle\Titanic\\train.csv")

In [2]:
print(rstr(df))

((891, 12), PassengerId    [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...
Survived                                                [[0, 1]]
Pclass                                               [[3, 1, 2]]
Name           [[Braund, Mr. Owen Harris, Cumings, Mrs. John ...
Sex                                             [[male, female]]
Age            [[22.0, 38.0, 26.0, 35.0, nan, 54.0, 2.0, 27.0...
SibSp                                    [[1, 0, 3, 4, 2, 5, 8]]
Parch                                    [[0, 1, 2, 5, 3, 4, 6]]
Ticket         [[A/5 21171, PC 17599, STON/O2. 3101282, 11380...
Fare           [[7.25, 71.2833, 7.925, 53.1, 8.05, 8.4583, 51...
Cabin          [[nan, C85, C123, E46, G6, C103, D56, A6, C23 ...
Embarked                                        [[S, C, Q, nan]]
dtype: object)

In [3]:
lst_Pclass_survived = [0]*6
survived = df['Survived']
pclass = df['Pclass']

for i in range(len(survived)):
    lst_Pclass_survived[survived[i]*3+pclass[i]-1] += 1

print lst_Pclass_survived

[80, 97, 372, 136, 87, 119]

In [ ]:
lst_sex_survived = [0]*4
survived = df['Survived']survived = df['Survived']

sex = df['Sex']

for i in range(len(survived)):
    lst_sex_survived[survived[i]*2+sex[i]-1] += 1

print lst_sex_survived